body {
    text-align: center;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  canvas {
    background-color: #333;
    border: 3px solid #fff;
    margin-top: 20px;
  }
  