body {
     font-family: 'Farsan', cursive;
    background-image: url("MANGO1.jpg");
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}
.btn-red {
    background-color:darkred;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn:hover {
    background-color: #218838;
}
.hide {
    display: none;
}

#imagen{
    display: none;
    margin: 0 auto;
    border:3px solid black;
    border-radius: 15px;
}