body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 120px;
    background-color: #e60d0d;
    background-image: url('alylp4i5gpex.webp');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-attachment: fixed;
    
}
h1 {
    color: #333;
    font-size: 2.5em;
}
img {
    max-width: 80%;
    height: auto;
    margin: 30px 0;
    border: 5px solid #007bff;
    border-radius: 10px;
}
.btn {
    background-color: #28a745;
    color: white;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 2em;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #218838;
}
.boton-container a {
    background-color: #218838;
    color:white;
    text-decoration: none;
    padding: 20px 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 160px;
    border-radius: 20px;
}
.contenedor{
    display: flex;
    flex-direction: column;
    gap:60px;
}
.titulin{
    background-color: #007bff;
    border-radius: 20px;
}